.appbar-title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }

  .appbar-name {
    margin-left: 8px;
  }
}

.appbar-links {
  display: flex;
}

.appbar-link__item {
  margin: 0 4px;
}

.appbar-link {
  font-size: 14px;
  padding: 8px 16px;
  color: currentColor;
  cursor: pointer;
  color: currentColor;
  display: inline-block;
  border-radius: 8px;

  &:hover {
    opacity: 0.8;
    background-color: var(--v-greyscale_6-base);
  }

  &.router-link-active {
    background-color: var(--v-greyscale_6-base);
    font-weight: 600;
  }
}

.appbar-menu__items {
  .appbar-menu__item-title {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
  }

  .appbar-link {
    display: block;
    font-size: 13px;
    padding: 8px 16px;
  }
}

.appbar-menu__list {
  max-height: 60vh;
  overflow: auto;
}

.f-docs-sidebar__head {
  .appbar-link {
    padding: 8px 0;
  }
}
