a {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

ul,
ol {
  padding-left: 1.2em;
  margin: 1em 0;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.8em 0;

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
}

a.header-anchor {
  font-size: 0.9em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

p,
ul,
ol {
  line-height: 1.7;
}

hr {
  border: 0;
  border-top: 1px solid var(--v-greyscale_3-base);
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
