.f-docs-sidebar {
  padding-left: 16px;
  border-right: 1px solid var(--v-greyscale_6-base);

  &.f-docs-sidebar--overflow {
    border-right: none;
  }

  &.f-docs-sidebar--flat {
    min-width: 220px;
    max-width: 220px;

    .f-docs-sidebar__content {
      position: sticky;
      top: 0;
    }
  }

  &__heading {
    margin: 0 !important;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 0;
  }

  &__subheaders {
    list-style: none;
    margin: 0;
    font-size: 0.95em;
  }

  &__head {
    padding: 16px 16px 16px 0;

    .appbar-links {
      flex-direction: column;
    }
  }

  &__link {
    font-size: 1em;
    padding: 8px 16px 8px 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: var(--v-greyscale_3-base) !important;

    &:hover {
      color: var(--v-primary-base) !important;
    }

    &.f-docs-sidebar__link--active {
      color: var(--v-primary-base) !important;
      border-right: 2px solid var(--v-primary-base);
      font-weight: 600;
    }
  }
}

.f-docs-sidebar__group--items,
.f-docs-sidebar__subheaders {
  padding-left: 1rem !important;
}

.theme--dark.v-navigation-drawer.f-docs-sidebar--flat {
  background-color: transparent;
}

.f-docs-sidebar
  .f-docs-sidebar__subheaders
  .f-docs-sidebar__link.f-docs-sidebar__link--active {
  font-weight: 500;
}
